{{! Copyright Yahoo 2021. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<div class="radio" ...attributes>
  <input
    type="radio"
    id={{this.componentId}}
    name={{this.group}}
    value={{this.value}}
    checked={{this.checked}}
    disabled={{this.disabled}}
    {{on "change" this.onChanged}}
  />
  <label for={{this.componentId}}>{{yield}}</label>
</div>