{{! Copyright 2020, Verizon Media. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<div class="alert is-inline {{this.typeClass}}" ...attributes>
  <p>
    {{#if (has-block)}}
      {{yield (hash
        Title=(component "denali-span" class="is-bold")
      )}}
      {{yield (hash
        Context=(component "denali-span")
      )}}
    {{else}}
      <DenaliSpan @class="is-bold">
        {{this.title}}
      </DenaliSpan>
      {{#unless (is-empty this.context)}}
        <DenaliSpan>
          {{this.context}}
        </DenaliSpan>
      {{/unless}}
    {{/if}}
  </p>
</div>