{{! Copyright 2020, Verizon Media. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<span
  ...attributes
  class="
    chips
    {{this.sizeClass}}
    {{this.backgroundColorClass}}
    {{this.textColorClass}}
    {{attributes.class}}
  "
>
  {{yield}}
</span>