{{! Copyright 2020, Verizon Media. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<button
  class="button {{this.isActiveClass}} {{this.styleClass}} {{this.sizeClass}} {{this.isInverseClass}} {{this.hasIconClass}} {{this.hasLoaderClass}} {{this.isFullClass}}"
  type={{this.type}}
  ...attributes
>
  {{#if this.isLoading}}
    <div class="loader loader--button"></div>
  {{else}}
    {{#if this.icon}}
      <i class="d-icon {{this.iconClass}} is-small"></i>
    {{/if}}
    {{yield}}
  {{/if}}
</button>