{{!-- Copyright 2020, Verizon Media. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. --}}
<BasicDropdown @tagName="div" @matchTriggerWidth={{true}} @verticalPosition="below" @renderInPlace={{true}} class="multi-select {{this.isSmallClass}} {{this.isInverseClass}}" as |dd|>
  <ul  {{on "click" dd.actions.toggle}} class="selections has-arrow {{if dd.isOpen "activate"}}" data-ebd-id="{{dd.uniqueId}}-trigger" ...attributes>
    {{#if (eq this.selections.length 0)}}
      <li class="select">{{this.placeholder}}</li>
    {{/if}}
    {{#each this.selections as |selected|}}
      <li class="select">
        <DenaliChip>{{yield selected}}</DenaliChip>
      </li>
    {{/each}}
  </ul>
  <dd.Content class="pane {{this.isInverseClass}}">
    <table class="table is-striped multi-select-table">
      <tbody>
        {{#if this.isSearchEnabled}}
          <tr>
            <td>
              <DenaliInput class="search" {{on "keyup" this.filterOptions}} type="text" placeholder="Search" @iconBack="search" class="multi-select-search" />
            </td>
          </tr>
        {{/if}}
        {{#each this.displayOptions as |option|}}
          <tr>
            <td>
              <DenaliCheckbox {{on "click" (fn this.onSelect option)}} checked={{option.checked}} class="option">
                {{yield option.item}}
              </DenaliCheckbox>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </dd.Content>
</BasicDropdown>
