{{! Copyright Yahoo 2021. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<nav class="nav {{this.isFixedTopClass}}" ...attributes>
  {{#if this.isResponsive}}
    {{yield (hash Left=(component "denali-navbar/responsive-left-section" onMenuClick=this.onMenuToggle))}}
    <div class="nav-responsive {{this.isMenuActiveClass}}">
      {{yield (hash Center=(component "denali-navbar/section" class="nav-center"))}}
      {{yield (hash Right=(component "denali-navbar/section" class="nav-right"))}}
    </div>
  {{else}}
    {{yield (hash Left=(component "denali-navbar/section" class="nav-left"))}}
    {{yield (hash Center=(component "denali-navbar/section" class="nav-center"))}}
    {{yield (hash Right=(component "denali-navbar/section" class="nav-right"))}}
  {{/if}}
</nav>