{{! Copyright Yahoo 2021. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<div class="input-group {{this.isStackedClass}} {{this.isResponsiveClass}} {{this.autoWidthClass}}" ...attributes>
  <label>{{this.label}}</label>
  {{yield}}
</div>