{{! Copyright Yahoo 2021. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<div class="d-progress {{this.hasLoaderClass}} {{this.sizeClass}}" ...attributes>
  {{#unless this.hasLoaderClass}}
    {{#if (has-block)}}
      {{yield (hash Bar=(component "denali-progress/bar" value=this.value color=this.color shade=this.shade))}}
    {{else}}
      <DenaliProgress::Bar @value={{this.value}} @color={{this.color}} @shade={{this.shade}} />
    {{/if}}
  {{/unless}}
</div>