{{! Copyright Yahoo 2021. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<div
  class="input
    {{this.hasIconFrontClass}}
    {{this.hasIconBackClass}}
    {{this.inverseClass}}
    {{this.sizeClass}}
    {{this.activeClass}}
    {{this.errorClass}}
    {{this.wrapperClass}}
    "
>
  {{#if this.iconFront}}
    <span class="d-icon d-{{this.iconFront}} {{this.iconFrontClass}}"></span>
  {{/if}}
  <input ...attributes>
  {{#if this.iconBack}}
    <span class="d-icon d-{{this.iconBack}} {{this.iconBackClass}}"></span>
  {{/if}}

  {{#if this.errorMsg}}
    <p class="message">{{this.errorMsg}}</p>
  {{/if}}
</div>