<div class="input-group {{this.isStackedClass}} {{this.isResponsiveClass}} {{this.autoWidthClass}}">
  <label>{{this.label}}</label>
  {{yield (hash
    Button=(component "denali-button")
    Input=(component "denali-input")
    Radio=(component "denali-radio")
    Toggle=(component "denali-toggle")
    Checkbox=(component "denali-checkbox")
    Switch=(component "denali-switch")
    Select=(component "denali-select")
  )}}
</div>