{{! Copyright Yahoo 2021. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<label class="switch denali-switch">
  <input
    type="checkbox"
    checked={{this.isEnabled}}
    disabled={{this.isDisabled}}
    {{on "click" this.onChange}}
    ...attributes
  />
  <span class="slider"></span>
  <span class="off label">{{this.offLabel}}</span>
  <span class="on label">{{this.onLabel}}</span>
</label>