{{! Copyright 2021, Verizon Media. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
{{!-- <div class="d-progress--bar" role="progressbar" style="width: {{this.value}}%; background-color: {{this.color}}" aria-valuenow="{{this.value}}" aria-valuemin="0" aria-valuemax="100" ...attributes></div> --}}
<div class="d-progress--bar  {{this.backgroundColorClass}}" role="progressbar" style="width: {{this.value}}%;" aria-valuenow="{{this.value}}" aria-valuemin="0" aria-valuemax="100" ...attributes></div>