{{! Copyright 2021, Verizon Media. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<div class="d-progress {{this.hasLoaderClass}} {{this.sizeClass}}"  ...attributes>
    {{#unless this.hasLoaderClass}}
        {{#if (has-block)}}
            {{yield (hash Bar=(component "denali-progress-bar"))}}
        {{else}}
            <div class="d-progress--bar {{this.backgroundColorClass}}" role="progressbar" style="width: {{this.value}}%;" aria-valuenow="{{this.value}}" aria-valuemin="0" aria-valuemax="100"></div>
        {{/if}}
    {{/unless}}
</div>
