{{! Copyright 2020, Verizon Media. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<button
  class="button {{this.isActiveClass}} {{this.styleClass}} {{this.sizeClass}} {{this.isInverseClass}} {{this.hasIconClass}} {{this.hasLoaderClass}} {{if this.isFull "is-full"}}"
  type={{this.type}}
  ...attributes
>
  {{#if this.isLoading}}
    <div class="loader"></div>
  {{else}}
    {{#if this.icon}}
      <i class="d-icon {{this.iconClass}} is-small"></i>
    {{/if}}
    {{yield}}
  {{/if}}
</button>