{{!-- Copyright 2020, Verizon Media. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. --}}
<h2>Basic Multi Select</h2>
<DenaliMultiSelect
  @options={{this.options}}
  @selectedOptions={{this.selected}}
  @disabledOptions={{this.disabled}}
  @searchFunc={{this.searchFunc}}
  @onChange={{this.onChange}}
  as |option|>
  {{option.text}}
</DenaliMultiSelect>

<h2>Multi Select small</h2>
<DenaliMultiSelect
  @options={{this.optionsSmall}}
  @selectedOptions={{this.selectedSmall}}
  @onChange={{this.onChangeSmall}}
  @isSmall={{true}}
  as |option|>
  {{option}}
</DenaliMultiSelect>

<h2>Multi Select inverse</h2>
<div class="denali-toggle-inverse-example">
  <DenaliMultiSelect
    @options={{this.optionsInverse}}
    @selectedOptions={{this.selectedInverse}}
    @onChange={{this.onChangeInverse}}
    @isInverse={{true}}
    as |option|>
    {{option}}
  </DenaliMultiSelect>
</div>

<h2>Multi Select With Search</h2>
<DenaliMultiSelect
  @options={{this.optionsSearch}}
  @selectedOptions={{this.selectedSearch}}
  @isSearchEnabled={{true}}
  @onSearch={{this.onSearch}}
  @onChange={{this.onChangeSearch}}
  as |option|>
  {{option.text}}
</DenaliMultiSelect>