<h2>Solid</h2>
<DenaliButton>Default</DenaliButton>
<DenaliButton @isActive={{true}}>Active</DenaliButton>
<DenaliButton disabled={{true}}>Disabled</DenaliButton>

<h2>Outline</h2>
<DenaliButton @style="outline">Default</DenaliButton>
<DenaliButton @style="outline" @isActive={{true}}>Active</DenaliButton>
<DenaliButton @style="outline" disabled={{true}}>Disabled</DenaliButton>

<h2>Ghost</h2>
<DenaliButton @style="ghost">Default</DenaliButton>
<DenaliButton @style="ghost" @isActive={{true}}>Active</DenaliButton>
<DenaliButton @style="ghost" disabled={{true}}>Disabled</DenaliButton>

<h2>Text</h2>
<DenaliButton @style="text">Default</DenaliButton>
<DenaliButton @style="text" @isActive={{true}}>Active</DenaliButton>
<DenaliButton @style="text" disabled={{true}}>Disabled</DenaliButton>

<h2>Danger</h2>
<DenaliButton @style="danger">Default</DenaliButton>
<DenaliButton @style="danger" @isActive={{true}}>Active</DenaliButton>
<DenaliButton @style="danger" disabled={{true}}>Disabled</DenaliButton>

<h2>Inverse</h2>
<DenaliButton @isInverse={{true}} @style="solid">Solid</DenaliButton>
<DenaliButton @isInverse={{true}} @style="outline">Outline</DenaliButton>
<DenaliButton @isInverse={{true}} @style="ghost">Ghost</DenaliButton>
<DenaliButton @isInverse={{true}} @style="text">Text</DenaliButton>

<h2>Sizes</h2>
<DenaliButton @size="small">Small</DenaliButton>
<DenaliButton @size="medium">Medium</DenaliButton>
<DenaliButton @size="large">Large</DenaliButton>
<DenaliButton @size="full">Full</DenaliButton>

<h2>Icons</h2>
<DenaliButton @icon="share" @style="solid">Share</DenaliButton>
<DenaliButton @icon="share" @style="solid" @iconOnly={{true}} />