<h2>Tag</h2>
<div class="tags">
  <DenaliTag>Normal Tag</DenaliTag>
</div>

<h2>Tag States</h2>
<div class="tags">
  <DenaliTag @state="active">Active Tag</DenaliTag>
  <DenaliTag @state="disabled">Disabled Tag</DenaliTag>
</div>

<h2>Tag Outlines</h2>
<div class="tags">
  <DenaliTag @isOutlined={{true}}>Outlined Tag</DenaliTag>
  <DenaliTag @isOutlined={{true}} @state="active">Outlined Tag With Active State</DenaliTag>
  <DenaliTag @isOutlined={{true}} @state="disabled">Outlined Tag With Disabled State</DenaliTag>
</div>

<h2>Tag Sizes</h2>
<div class="tags">
  <DenaliTag @isSmall={{true}}>Small Tag</DenaliTag>
  <DenaliTag @isSmall={{true}} @isOutlined={{true}}>Small Outlined Tag</DenaliTag>
</div>

<h2>Icons</h2>
<div class="tags">
  <DenaliTag @iconFront="check">Tag With Front Icon</DenaliTag>
  <DenaliTag @iconBack="close">Tag With Back Icon</DenaliTag>
</div>