{{!-- Copyright 2020, Verizon Media. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. --}}
<div class="denali-toggle-examples">
  <h2 class="denali-toggle-header">Basic Select</h2>

  <DenaliSelect
    @options={{this.options}}
    @selectedOption={{this.selected}}
    @disabledOptions={{this.disabled}}
    @onChange={{this.onChange}}
    as |option|>
    {{option.text}}
  </DenaliSelect>

  <h2 class="denali-toggle-header">Small Select</h2>
  <DenaliSelect @isSmall={{true}}
    @options={{this.optionsSmall}}
    @selectedOption={{this.selectedSmall}}
    @onChange={{this.onChangeSmall}}
    as |option|>
    {{option}}
  </DenaliSelect>

  <h2 class="denali-toggle-header">Inverse Select</h2>
  <div class="denali-toggle-inverse-example">
    <DenaliSelect @isInverse={{true}}
      @options={{this.optionsInverse}}
      @selectedOption={{this.selectedInverse}}
      @onChange={{this.onChangeInverse}}
      as |option|>
      {{option}}
    </DenaliSelect>
  </div>
</div>