{{! Copyright 2020, Verizon Media. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<div class="denali-toggle-examples">
  <h2 class="denali-toggle-header">Basic Toggle</h2>

  <DenaliToggle
    @options={{this.options}}
    @activeOption={{this.active}}
    @disabled={{this.disabled}}
    @onChange={{this.changeActive}} as |option|
  >
    {{option.text}}
  </DenaliToggle>

  <h2 class="denali-toggle-header">Small Toggle</h2>
  <DenaliToggle @isSmall={{true}}
    @options={{this.optionsSmall}}
    @activeOption={{this.activeSmall}}
    onChange={{this.changeActiveSmall}} as |option|
  >
    {{option}}
  </DenaliToggle>

  <h2 class="denali-toggle-header">Inverse Toggle</h2>
  <div class="denali-toggle-inverse-example">
    <DenaliToggle @isInverse={{true}}
      @options={{this.optionsInverse}}
      @activeOption={{this.activeInverse}}
      @onChange={{this.changeActiveInverse}} as |option|
    >
      {{option}}
    </DenaliToggle>
  </div>
</div>