<div class="denali-toggle-examples">
  <h2 class="denali-toggle-header">Basic Toggle</h2>
  <DenaliRadioToggle @onChanged={{fn (mut this.selectedValue)}} as |Toggle|>
    <Toggle.Option @value={{1}}>Stuff 1</Toggle.Option> <br>
    <Toggle.Option @value={{2}}>Stuff 2</Toggle.Option> <br>
    <Toggle.Option @value="surprise" @checked={{true}}>Stuff 3</Toggle.Option> <br>
    <Toggle.Option @value={{4}}>Stuff 4</Toggle.Option> <br>
    <Toggle.Option @value={{5}} @disabled={{true}}>Stuff 5</Toggle.Option> <br>
  </DenaliRadioToggle>
  Selected Value: {{this.selectedValue}}
  <h2 class="denali-toggle-header">Small Toggle</h2>
  <DenaliRadioToggle @isSmall="true" @onChanged={{fn (mut this.selectedValue2)}} as |Toggle|>
    <Toggle.Option @value={{1}}>Stuff 1</Toggle.Option> <br>
    <Toggle.Option @value={{2}}>Stuff 2</Toggle.Option> <br>
    <Toggle.Option @value="surprise" @checked={{true}}>Stuff 3</Toggle.Option> <br>
    <Toggle.Option @value={{4}}>Stuff 4</Toggle.Option> <br>
    <Toggle.Option @value={{5}} @disabled={{true}}>Stuff 5</Toggle.Option> <br>
  </DenaliRadioToggle>
  Selected Value: {{this.selectedValue2}}
  <h2 class="denali-toggle-header">Inverse Toggle</h2>
  <div class="denali-toggle-inverse-example">
    <DenaliRadioToggle @isInverse="true" @onChanged={{fn (mut this.selectedValue3)}} as |Toggle|>
      <Toggle.Option @value={{1}}>Stuff 1</Toggle.Option> <br>
      <Toggle.Option @value={{2}}>Stuff 2</Toggle.Option> <br>
      <Toggle.Option @value="surprise" @checked={{true}}>Stuff 3</Toggle.Option> <br>
      <Toggle.Option @value={{4}}>Stuff 4</Toggle.Option> <br>
      <Toggle.Option @value={{5}} @disabled={{true}}>Stuff 5</Toggle.Option> <br>
    </DenaliRadioToggle>
    Selected Value: {{this.selectedValue3}}
  </div>
</div>